<% for column in Mapcolumn.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @mapcolumn.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @mapcolumn %> |
<%= link_to 'Back', :action => 'list' %>
