<div class="centered">
  <h1>Get Started</h1> 
  <h2>Here&rsquo;s how to get rolling:</h2>
  
  <ol>
    <li>
      <h2>Review part or customer data</h2>
      <p>Basic information about parts and customers is available for review.</p>
    </li>
    <li>
      <h2>Review, create, or update file mappings</h2>
      <p>File mappings are used to tell Data Master which field in the manufacturer price 
      files map to which fields in your SQL-Ledger application.  Many file mappings are 
      provided for you, but you are free to create or update as needed.</p>
    </li>
    <li>
      <h2>Update part prices <tt>using manufacturer data files.</tt></h2>
      <p>Data Master can handle fixed-length and comma-separated-value files.  For other 
      cases, please contact Topline Consulting, Inc.</p>
    </li>
    
    <li>
      <h2>Load customers</h2>
      <p>Use legacy data or other files.</p>
    </li>
  </ol>
</div>
