<%= error_messages_for 'help' %>

<!--[form:help]-->
<p><label for="help_name">Name</label><br/>
<%= text_field 'help', 'name'  %></p>

<p><label for="help_description">Description</label><br/>
<%= text_area 'help', 'description'  %></p>

<p><label for="help_attachment">Attachment</label><br/>
<%= text_field 'help', 'attachment'  %></p>
<!--[eoform:help]-->

