<table>
<tr>
<td><h3>Total Taxable Sales:</h3></td>
<td><%= sprintf("$%.2f",@total_taxable_sales) %></td>
</tr>
<tr>
<td><h3>Total Non-Taxable Sales:</h3></td>
<td><%= sprintf("$%.2f",@total_nontaxable_sales) %></td>
</tr>
<tr>
<td><h3>Total Tax:</h3></td>
<td><%= sprintf("$%.2f",@total_tax) %></td>
</tr>
<tr>
<td><h3>Total Sales:</h3></td>
<td><%= sprintf("$%.2f",@total_sales) %></td>
</tr>
</table>